$main-color: #91aeb9;
$main-color-dark: #0b697b;
$white: white;
$light-gray: #f0f0f0;
$bg-color: rgb(250, 242, 233);
$bg-color-secondary: #f6eee8;
$black: #000;
$border-color: rgba($black, 0.1);
$shadow-color: rgba($black, 0.1);
$text-color: rgb(100, 79, 68);
